/* Styles du background */

body {
	background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size:0.8em;
}


/*
###############################################################################
 ██████  ██████  ███    ██ ███    ██ ███████ ██   ██ ██  ██████  ███    ██
██      ██    ██ ████   ██ ████   ██ ██       ██ ██  ██ ██    ██ ████   ██
██      ██    ██ ██ ██  ██ ██ ██  ██ █████     ███   ██ ██    ██ ██ ██  ██
██      ██    ██ ██  ██ ██ ██  ██ ██ ██       ██ ██  ██ ██    ██ ██  ██ ██
 ██████  ██████  ██   ████ ██   ████ ███████ ██   ██ ██  ██████  ██   ████
###############################################################################
*/

.connexion-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 1em;
}


.connexion-form .form-control {
    border-radius:1rem;
}


.connexion-image {
    text-align: center;
}


.connexion-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
}


.connexion-form form {
    padding: 14%;
}


.connexion-form form .row {
    margin-bottom: -7%;
}


.connexion-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}


.note {
    font-size: 12px;
}


/*
###############################################################################
██████   ██████   ██████  ████████ ███████ ████████ ██████   █████  ██████
██   ██ ██    ██ ██    ██    ██    ██         ██    ██   ██ ██   ██ ██   ██
██████  ██    ██ ██    ██    ██    ███████    ██    ██████  ███████ ██████
██   ██ ██    ██ ██    ██    ██         ██    ██    ██   ██ ██   ██ ██
██████   ██████   ██████     ██    ███████    ██    ██   ██ ██   ██ ██
###############################################################################
*/

.card {
    border-radius: 1em;
}
